<template>
  <div>
  {{ message }}
  </div>
</template>

<script>

export default {
  name: 'Home',
  data() {
    return {
      message: 'This is a Todo application. Enjoy!'
    }
  }
}

</script>

