<template>
  <div>
    <div class="alert alert-success" role="alert" v-if="showSuccessAlert">
      Success: Todo message added
    </div>
  </div>
</template>

<script>

export default {
  name: 'Alert',
  props: ['showSuccessAlert']
}

</script>

