<template>
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr class="d-flex">
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-9">Todo</th>
            <th scope="col" class="col-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in sortedTodos" :key="index" class="d-flex">
            <th scope="row" class="col-1">{{ index + 1 }}</th>
            <td class="col-9">{{ item.text }}</td>
            <td class="col-2"><i class="fa fa-trash-o fa-lg" @click="deleteTodo(item.id)" style="cursor: pointer;"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import axios from 'axios';
import { mapGetters } from 'vuex';
import TodoService from '@/services/TodoService';

export default {
  name: 'TodoTable',
  computed: {
    ...mapGetters({
      sortedTodos: 'TodoModule/getTodos'
    })
  },
  methods: {
    deleteTodo(id) {
      //TODO: move this to Vuex actions
      TodoService.deleteTodo(id)
        .then(response => {
          this.$emit('refreshTodos');
          this.$toastr.Add({
            msg: "Todo deleted", // Message
            timeout: 2000, // Remember defaultTimeout is 5 sec..
            type: "error" // Toast type
          });
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
}

</script>
