<template>
  <div>
    <app-navbar></app-navbar>
      <div id="app" class="container">
        <br />
        <router-view></router-view>
      </div>
  </div>
  
</template>

<script>

import Navbar from '@/components/Navbar';

export default {
  name: 'app',
  components: {
    'app-navbar': Navbar
  }
}
</script>

<style lang="scss">
@import '../node_modules/bootstrap/scss/bootstrap.scss';
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '../node_modules/font-awesome/scss/font-awesome.scss';
@import '../node_modules/vue-toastr/src/vue-toastr.scss';
</style>